* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}


:root {
  --color-general: #f8f1e4;

  --color-primario: #4b2a00;
  /* marrón miel */
  --color-secundario: #8b5a2b;
  /* ámbar */
  --color-texto: #3a2a1a;
  /* texto principal */
  --color-texto-suave: #6b5a4a;
  /* texto secundario */
  --color-claro: #ffffff;
}

h1,
h2,
h3 {
  font-family: 'Cinzel', serif;
}


body {
  background-color: var(--color-general);
  color: var(--color-texto);
  font-family: 'Libre Baskerville', serif;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--color-general);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}


#header-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;

}

header h1 {
  font-size: 1.5rem;
  margin-left: 1rem;
  white-space: nowrap;
  user-select: none;
}

header {
  gap: 1rem;
}

#nav-bar {
  /* position: fixed;
  top: 0;
  right: 0; */
  display: flex;
  gap: 2rem;
  background-color: var(--color-general);

  padding: 1rem 2rem;
  z-index: 1000;
  border-radius: 10px;

  transition: opacity 0.3s ease, transform 0.3s ease;
}

nav a {
  text-decoration: none;
  font-weight: bold;

  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

header h1,
nav a {
  color: var(--color-primario);
}

nav a:hover {
  background-color: rgba(139, 90, 43, 0.15);
  color: var(--color-secundario);
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--color-primario);
}

.icon-close {
  display: none;
}



/* =============================================
    MAIN
============================================= */
main {
  margin-top: 11rem;
}

/*      FORM        */

/* .form{
    background-color: #4b2a00;
    
} */

#form {
  /*background-color: aqua;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

#form input:not([type="submit"]) {
  width: 50%;
}

legend {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primario);
  margin-bottom: 1rem;
  text-align: center;
}

input[type="submit"] {
  background-color: #8b5a2b;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
  width: fit-content;
  padding: 0.75rem 1.5rem;

}

input[type="submit"]:hover {
  background-color: #6d441f;
  border-radius: 10px;
}

/*      CARACTERISTICAS     */

#caracteristicas {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-texto);
}

.caracteristicas-distinguidas {
  width: 50%;
  /* background-color: green; */
  display: flex;
  align-items: stretch;
  margin-bottom: 2rem;
}

.icono {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  margin-right: 2rem;
}

.icono i {
  font-size: 3rem;
  color: #4b2a00;
}

.descripcion {
  flex: 1;
  /* ocupa todo el espacio restante */
}

.descripcion h2 {
  color: var(--color-primario);
}

.descripcion p {
  color: var(--color-texto-suave);
}

/*    VIDEO   */
.video-container {
  width: 700px;
  margin: 4rem auto;
  padding: 1rem;
  background-color: rgba(75, 42, 0, 0.05);
  border-radius: 16px;
}

.video-container iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}


/*      HISTORIA        */
#historia {
  padding: 4rem 2rem;
  text-align: center;
  color: var(--color-texto);
}

.historia-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.historia-card {
  background: white;
  padding: 2rem;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.historia-card h3 {
  margin-bottom: 1rem;
  color: var(--color-primario);
}

.historia-card p {
  color: var(--color-texto-suave);
}

/*      PRODUCTOS       */

#productos {
  padding: 4rem 2rem;
  background-color: var(--color-general);
  text-align: center;
}

#productos h2,
.producto-card h3 {
  color: var(--color-primario);
}

.productos-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.producto-card {
  background: white;
  padding: 2rem;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.producto-card p {
  color: var(--color-texto-suave);
}

.producto-card button {
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  background-color: #4b2a00;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.producto-card button:hover {
  background-color: #6b3b00;
}

.precio {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-secundario);
}

/* ==========================================
    FOOTER
========================================== */

footer {
  background-color: var(--color-primario);
  color: var(--color-general);
  padding: 2rem;
  text-align: center;
  width: 100%;
  /* width: 100vw;
  margin-left: calc(50% - 50vw); */
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-links a {
  color: var(--color-general);
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* 
============================================
    MEDIA
============================================ */
@media (max-width: 768px) {
  header {
    position: relative;
    flex-direction: column;
    gap: 1rem;
  }

  main {
    margin-top: 2rem;
  }

  #header-img {
    width: 48px;
    height: 48px;
  }

  header h1 {
    font-size: 1.2rem;
  }

  /* #nav-bar {
    width: 100%;
    justify-content: center;
    padding: 0.5rem 0;
    border-radius: 0;
    flex-direction: column;
    gap: 0.5rem;
  } */


    #nav-bar {
    top: 100%;
    right: 1rem;

    flex-direction: column;
    background-color: var(--color-general);
    padding: 1rem;
    border-radius: 12px;
    gap: 1rem;

    display: none;

    transition: opacity 0.3s ease, transform 0.3s ease;

        opacity: 0;
    transform: translateY(-10px);

  }

    #menu-toggle:checked ~ #nav-bar {
    display: flex;
    opacity: 1;
    transform: translateY(0);

  }

  #menu-toggle:checked ~ .menu-icon .icon-open {
  display: none;
}

#menu-toggle:checked ~ .menu-icon .icon-close {
  display: inline;
}

.icon-close {
  display: none;
}

  .menu-icon {
    display: block;
  }

  .menu-icon .icon-open {
  display: inline;
}

.menu-icon .icon-close {
  display: none;
}


  #form {
    width: 90%;
  }

  #form input:not([type="submit"]) {
    width: 100%;
  }

  .video-container {
    max-width: 700px;
    width: 90%;
  }

  .caracteristicas-distinguidas {
    width: 90%;
    flex-direction: column;
    text-align: center;
  }

  .icono {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .historia-container,
  .productos-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 0.8rem;
  }
}