*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
  width: 100%;
  background-color: #f2e1c2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#header-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

header h1 {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #4b2a00;
  white-space: nowrap;
}

header {
  gap: 1rem;
}

#nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  gap: 2rem;
  background-color: #f2e1c2;
  padding: 1rem 2rem;
  z-index: 1000;
}

nav a {
    text-decoration: none;
    color: #4b2a00;   /* color temporal para verlos bien */
    background-color: aqua;
    font-weight: bold;
}


main {
    padding-top: 80px;
}


#historia {
  padding: 4rem 2rem;
  background-color: #f8f1e4;
  text-align: center;
}

.historia-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.historia-card {
  background: white;
  padding: 2rem;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.historia-card h3 {
  margin-bottom: 1rem;
  color: #4b2a00;
}


/*      PRODUCTOS       */

#productos {
  padding: 4rem 2rem;
  background-color: #fff7ec;
  text-align: center;
}

.productos-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.producto-card {
  background: white;
  padding: 2rem;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.producto-card button {
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  background-color: #4b2a00;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.producto-card button:hover {
  background-color: #6b3b00;
}

.precio {
  font-size: 1.8rem;
  font-weight: bold;
  color: #4b2a00;
}


footer {
  background-color: #4b2a00;
  color: #fff7ec;
  padding: 2rem;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-links a {
  color: #fff7ec;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
    header {
    flex-direction: column;
    gap: 1rem;
  }

  #nav-bar {
    flex-direction: column;
    gap: 0.5rem;
  }
    

    .historia-container, .productos-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 0.8rem;
  }
}