* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --altura-header: 3rem;

}

/*==========================================*/
/*      ETIQUETAS     */
/*==========================================*/
body {
    margin-top: var(--altura-header);
}

h1 {
    font-size: 4rem;
    line-height: 1.4;
    font-weight: 700;
    text-align: center;
}

/*==========================================*/
/*  FIN      ETIQUETAS     */
/*==========================================*/



/*==========================================*/
/*      NAV BAR     */
/*==========================================*/



#navbar {
    position: fixed;
    top: 0;
    background-color: red;
    height: var(--altura-header);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

}

nav a {
    color: white;
    margin: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
}

/*==========================================*/
/*  FIN      NAV BAR     */
/*==========================================*/

/*==========================================*/
/*  WELCOME SECTION     */
/*==========================================*/

#welcome-section {
    background-color: black;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 2rem;
    font-style: italic;
    color: darkred;
}

/*==========================================*/
/*      FIN WELCOME SECTION     */
/*==========================================*/

/*==========================================*/
/*      PROJECTS SECTION     */
/*==========================================*/

#projects {
    background-color: lightsteelblue;
    padding-top: 2rem;
    
}

.projects-header {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    color: white;
    margin-bottom: 2rem;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.project-tile {
    background-color: #303841; /* mismo tono FCC */
    width: 360px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.project-tile:hover {
    transform: translateY(-8px);
}


.project-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
}

.project-title {
    padding: 1.2rem;
    font-size: 1.3rem;
    text-align: center;
    background-color: #303841;
}

/*==========================================*/
/*      FIN PROJECTS SECTION     */
/*==========================================*/

/*==========================================*/
/*      CONTACTO     */
/*==========================================*/

#contacto{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80vh;

}

.contact-header h2{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2rem;

}

.contact-header p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
    font-style: italic;
    color: darkred;
}

#contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

#contact-links a {
    display: flex;
    gap: 0.5rem;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}


#contact-links a:hover {
    transform: translateY(-8px);
}

/*==========================================*/
/*      FIN CONTACTO     */
/*==========================================*/


/*==========================================*/
/*      MEDIA QUERY     */
/*==========================================*/

@media(max-width: 900px) {}